# {{ ansible_managed }}

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

auto eth-local
iface eth-local inet static
     address {{ eth_local_address }}/{{ eth_local_netmask }}
     pre-up ethtool -K $IFACE gso off gro off tso off || true
{% if eth_local_gateway %}
     gateway {{ eth_local_gateway }}
{% endif %}

{% if eth_uplink_mac_address is defined %}

auto eth-uplink
iface eth-uplink inet static
     address {{ eth_uplink_static_address }}
     netmask {{ eth_uplink_static_netmask }}
     gateway {{ eth_uplink_static_gateway }}
     pre-up ethtool -K $IFACE gso off gro off tso off || true
     up sysctl -w net.ipv4.ip_forward=1
     up iptables -t nat -A POSTROUTING -o $IFACE -j MASQUERADE
     up iptables -t mangle -A FORWARD -p tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu
     down iptables -t nat -D POSTROUTING -o $IFACE -j MASQUERADE
     down iptables -t mangle -D FORWARD -p tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu
{% endif %}
